language: node_js
node_js:
  - '6'
branches:
  only:
    - master
before_install:
  - openssl aes-256-cbc -K $encrypted_3f4fe2e313ff_key -iv $encrypted_3f4fe2e313ff_iv -in .travis/id_rsa.enc -out ~/.ssh/id_rsa -d
before_script:
  - chmod 600 ~/.ssh/id_rsa
  - eval $(ssh-agent)
  - ssh-add ~/.ssh/id_rsa
  - cp .travis/ssh_config ~/.ssh/config
  - git config --global user.name "biu"
  - git config --global user.email "hezhou920@gmail.com"
script:
  - git branch coding-pages
  - git branch gh-pages
  - git push --force git@git.coding.net:hezhou/frontend-demos.git coding-pages:coding-pages
  - git push --force git@github.com:hezhii/frontend-demos.git gh-pages:gh-pages
